.wraper {
  background-color: #ccc;
  width: 400px;
  margin: 20vh auto;
}
.title {
  background-color: brown;
  padding: 10px;
  border-radius: 8px;
}
.subtitle {
  padding: 10px;
  border-radius: 8px;
  background-color: brown;
}
.emptyList {
  display: block;
}
.emptyListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  height: 200px;
}
